# DNL related files
PATHS.md
CURRENT_USER*.md

# IDE related files
.idea/
*.code-workspace
/*.iml

# macOS related files
.DS_Store
**/.DS_Store

# AI related files
/.playwright-mcp/
/.claude/settings.local.json
/.claude/*.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
